game/particles/
game/sounds/
game/soundevents/
game/panorama/styles/
game/scripts/vscripts/statcollection/settings.kv
game/panorama/scripts/
game/panorama/layout/
game/panorama/images/
game/materials/
game/ideas.txt
game/ebf2_bosses.txt
game/tools_asset_info.bin
game/panorama_debugger.cfg
game/network_measurement.txt
game/tools_thumbnail_cache.bin
game/server_log.txt
game/rich_presence_persistent_data.txt
game/maps/bh_adventure_hardcore.vpk
game/maps/bh_adventure_casual.vpk
game/models/
