.AbilityRoot
{
	z-index: -500;
	margin-bottom: 17%;
	margin-left: 38%;
	height: 100%;
	width: 100%;
}

.AbilityIconRoot
{
	flow-children: left;
	transition-property: transform;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
	visibility: collapse;
	vertical-align: bottom;
}

.AbilityIcon
{
	padding: 5px;
	saturation: 0.5;
	brightness: 0.7;
	height: 96px;
	width: 96px;
}

.Highlighted
{
	saturation: 1.0;
	brightness: 1.5;
	border: 1px solid #ffffff;
	box-shadow: #FFD70006 0px 0px 24px 1px inset;
}

.PerksRoot
{
	flow-children: up;
	transition-property: transform;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
	visibility: visible;
	vertical-align: bottom;
}

.Perk
{
	width: 500px;
	height: 36px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c2027 ), to( #010101FF ) );
	border: 1px solid #010101;
	margin: 1px;
	flow-children: right;
}

.PerkAbilityIcon
{
	padding: 4px;
	height: 32px;
	width: 32px;
}

.PerkLabel
{
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #000,
				-1px 1px 0 #000,
				1px -1px 0 #000,
				-1px -1px 0 #000,
				0px 1px 0 #000,
				0px -1px 0 #000,
				-1px 0px 0 #000,
				1px 0px 0 #000,
				2px 2px 0 #000,
				-2px 2px 0 #000,
				2px -2px 0 #000,
				-2px -2px 0 #000,
				0px 2px 0 #000,
				0px -2px 0 #000,
				-2px 0px 0 #000,
				2px 0px 0 #000,
				1px 2px 0 #000,
				-1px 2px 0 #000,
				1px -2px 0 #000,
				-1px -2px 0 #000,
				2px 1px 0 #000,
				-2px 1px 0 #000,
				2px -1px 0 #000,
				-2px -1px 0 #000;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	horizontal-align: left;
	margin-left: 5px;
	margin-top: 0px;
	z-index: 5;
}