@define TotalLength: 40s;
@define TimingFunc: linear;
@define IterationCount: 1;
@define AnimationDelay: 0s;

.AddonLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: clip;
}
#TitlePanel
{
  horizontal-align: left;
  vertical-align: bottom;
  margin-bottom: 0px;
  margin-left: 0px;
  flow-children: right;
}

.staticImg
{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
}

#InfoGameDonator
{
  horizontal-align: left;
  vertical-align: bottom;
  margin-bottom: 500px;
  margin-left: 75px;
  flow-children: right;
}

#InfoGame
{
  horizontal-align: left;
  vertical-align: bottom;
  margin-bottom: 0px;
  margin-left: 75px;
  flow-children: down;
}
#gameinfo
{
   margin-bottom: 200px;
   width: 750px;
   height: 620px;
}

#gamedonator
{
  margin-bottom: 75px;
   width: 750px;
   height: 200px;
}

.SeqImg
{
  background-repeat: no-repeat;
  background-position: 25% 25%;
  background-size: 100% 100%;
}
#VotePanel
{
	background-color: #222225;
	border: 2px solid #555555;
	vertical-align: top;
	horizontal-align: right;
	margin-right: 500px;
    overflow: clip;
	z-index: 999999;
	width: 500px;
	height: 300px;
}

#CustomBg
{

	margin-top: 0px;
    overflow: clip;
}

#gamemode
{
  margin-left: 0px;
  margin-bottom: 0px;
  
}

@keyframes 'gamemode_anim'
{
  0%
  {
    transform: translateX( 0px ) translateY( 0px );
    pre-transform-scale2d: 1.3;
  }

  100%
  {
    transform: translateX( 0px ) translateY( 0px );
  }
}
