 .GameInfo
{
    width:90%;
    flow-children: down;
}
 
Label
{
    font-size: 18px;
    color: #999999;
    vertical-align: top;
}
 
#Title
{
    flow-children: down;
}

#TitleIcon
{
    width: 64px;
    height: 64px;
    vertical-align: center;
}

#TitleName
{
    color: #ffac0c;
    font-size: 64px;
    margin-top: 10px;
    text-transform: uppercase;
    vertical-align: center;
}

#BriefDescription
{
}

#ItemsText
{
    width: 45%;
}

.Header
{
	font-size: 20px;
    font-weight: bold;
	margin-top: 10px;
	text-transform: uppercase;
}

#ObjectiveHeader
{
	margin-top: 10px;
}

#Boss
{
    margin-top: 10px;
}

#BossText
{
	text-align: right;
}

#Life
{
    margin-top: 10px;
}

#LifeText
{
}

#Items
{
    margin: 0px;
	width: 100%;
}

#ItemsText
{
    margin: 0px;
	text-align: right;
}

#TipsHeader
{
	margin-bottom: 10px;
}

#Tips
{
	flow-children: down;
	margin-top: 10px;
}

.TipText
{
	margin-top: 10px;
}

.Info
{
    flow-children: down;
    width: 100%;
}


Label .midas_throne,
Label .treasure
{
    color: #FF0b00;
    font-weight: bold;
}

Label .overboss,
{
    color: #5DFF00;
    font-weight: bold;
}

Label .items,
Label .gold,
Label .xp
{
    color: #fcaf3d;
    font-weight: bold;
}