.GeneralTopBar
{
	width: 100%;
	flow-children: down;
}

.TopBarInformationLabel
{
	color: white;
    font-weight: bold;
    text-overflow: shrink;
    
    horizontal-align: center;
    vertical-align: top;
    text-shadow: 1px 1px 2px 2.0 #00000011;

    font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
}