.HeroInformationTopBar
{
	width: fit-children;
	vertical-align: top;
	
	background-size: contain;
	background-repeat: no-repeat;
	z-index: -100;

    margin-left: 250px;
	flow-children: right;
	
}

.HeroInformationName
{
    color: white;
    width: 86px;
    text-align: center;
    text-shadow: 1px 1px 0px 2.0 #000; 
	text-overflow: shrink;
	height: 24px;
    visibility: collapse;
	
}

.HeroInformationContainer
{
	flow-children: down;
	width: fit-children;
	opacity-mask: url("s2r://panorama/images/masks/topbar_heroslant_left_psd.vtex");
}

#HeroInformationHeroImageContainer
{
	width: fit-children;
}

.HeroInformationHeroImage
{
	width: 77px;
    height: 43px;

	
	background-color: black;
}

#DisconnectIcon
{
    width: 67px;
    height: 20px;
    vertical-align: middle;
    background-image: url("s2r://panorama/images/hud/reborn/icon_disconnect_png.vtex");
    background-repeat: no-repeat;
    background-size: 100%;
	horizontal-align: center;
    z-index: 5;
	box-shadow: fill -6px -6px 12px 12px #000c;
	border-radius: 16px;
	visibility: collapse;
}

#RespawnTimer
{
    z-index: 6;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.Dead #RespawnTimer
{
    opacity: 1;
}

#RespawnTimer Label
{
    margin-top: 5px;
    width: 100%;
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 1px 1px 2px 2.0 #00000011;
    font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
    text-overflow: shrink;
    text-align: center;
}

.HeroInformationHealthBar
{
    height: 8px;
    width:  77px;
    border-radius: 0px;
    border: 0px solid black;
}


.HeroInformationHealthBar .ProgressBarLeft
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00ff00 ), to( #004c00 ) );

    border-radius: 2px;

    transition-property: width;
    transition-duration: 1.0s;
    transition-timing-function: linear;
}

.HeroInformationManaBar
{
    height: 6px;

    width:  77px;
    border-radius: 0px;
    border: 0px solid black;
}

.HeroInformationManaBar .ProgressBarLeft
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #2b4287 ), color-stop(0.2, #4165ce ), color-stop(.5, #4a73ea), to(#2b4287) );

    border-radius: 2px;

    transition-property: width;
    transition-duration: 1.0s;
    transition-timing-function: linear;
}

.HeroInformationLivesContainer
{
    horizontal-align: center;
    vertical-align: bottom;

    width:  77px;
    /* background-color: gradient( linear, 0% 0%, 0% 100%, from( #661F32 ), color-stop(0.25, rgb(88, 24, 41) ), to( #00000000 ) ); */
    /* border-top: 2px solid #B94461; */
}


.HeroInformationLivesIcon
{
    width: 20px;
    height: 20px;
    background-image: url("s2r://panorama/images/events/aghanim/reward_type_lives_icon_png.vtex");
    background-repeat: no-repeat;
    background-size: contain;
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom: -3px;
	margin-right: 3px;
}

.HeroInformationLivesLabel
{
    vertical-align: bottom;
    color: white;
    font-size: 12px;
    font-weight: semi-bold;
    letter-spacing: 1px;

    text-shadow: 1px 2px 2px #000000;
	vertical-align: center;
	horizontal-align: center;
	margin-bottom: 5px;
	text-align: center;
}

.HeroInformationTheat
{
    horizontal-align: center;
    vertical-align: bottom;
    flow-children: right;

    width: 100%;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #661F32 ), color-stop(0.25, rgb(88, 24, 41) ), to( #00000000 ) );
    /* border-top: 2px solid #B94461; */
    padding: 4px;
}

.HeroInformationTheatContent
{
    flow-children: right;
    horizontal-align: center;
}

.HeroInformationTheatLabel
{
    margin-left: -5px;
    vertical-align: bottom;
    color: white;
    font-size: 14px;
    font-weight: semi-bold;
    letter-spacing: 1px;

    text-shadow: 1px 2px 2px #000000;
}

.Disconnected
{
	saturation: 0.3;
	wash-color: #393939;
}