.hp_bar_panel
{
    width: 100%;
    height: 100%;
    overflow: clip;
}

#hp_bar_parent_health
#hp_bar_parent_mana
#hp_bar_parent_shield
{
	horizontal-align: right;
    vertical-align: top;
	width: 561px;
    height: 157px;
}

#hp_bar_general
{
  horizontal-align: left;
  vertical-align: top;
 margin-left: 300px;
 margin-top: 50px;
  width: 561px;
    height: 157px;
 }
 
 
 #hp_bar_mana
 #hp_bar_health
{
    horizontal-align: right;
    vertical-align: top;
    width: 561px;
    height: 157px;
	clip: rect( 0%, 100%, 100%, 0% );
    z-index:5;

    background-position: 0% 0%;
 }
 
 #hp_bar_current
{
	margin-left: 200px;
	font-size: 18px;
	margin-top: 15px;
    font-weight: bold;
	color: #ABBFA0;
 }
  #hp_bar_slash
{
	margin-left: 300px;
	font-size: 18px;
	margin-top: 15px;
    font-weight: bold;
	color: #ABBFA0;
 }
  #hp_bar_total
{
	margin-left: 320px;
	font-size: 18px;
	margin-top: 15px;
    font-weight: bold;
	color: #ABBFA0;
 }
  #hp_bar_name
{
	margin-left: 180px;
	font-size: 23px;
    font-weight: bold;
	margin-top: 63px;
	color: #FFFFFF;
 }
 