.midas_gold_panel
{
    vertical-align: top;
	horizontal-align: center;
	margin-left: 220px;
	padding-top: 3px;
	padding-bottom: 2px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #25282a88 ), color-stop( .6, #25282acc), color-stop( .8, #25282a88), to( #00000022 ) );
}

#midas_gold_display
{
	color: #ffd700;
	font-weight: thin;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	text-shadow: 1px 1px 2px 2 #000000;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
}