.NGplus_Vote
{
    width: 100%;
    height: 100%;
    overflow: clip;
}

#confirmation 
{
    horizontal-align: center;
	vertical-align: top;
	font-size: 20px;
    font-weight: bold;
	margin-top: 80px;
	color: #FFEA00;
}

#noheader
{
margin-top:120px;
margin-left: 113px;
horizontal-align:left;
color: #FFEA00;
font-size: 20px;
font-weight: bold;
}

#yesheader
{
margin-top:120px;
margin-right: 109px;
horizontal-align:right;
color: #FFEA00;
font-size: 20px;
font-weight: bold;
}

#noresults
{
margin-top:140px;
margin-left: 100px;
horizontal-align:left;
}

#yesresults
{
margin-top:140px;
margin-right: 100px;
horizontal-align:right;
}

#Vote
{
  horizontal-align: center;
  vertical-align: center;
  width: 500px;
    height: 180px;
 }
 #BG_Image
{
  width: 500px;
    height: 300px;
 }

 #Vote_Yes
{
	horizontal-align: right;
  vertical-align: top;
 margin-right: 40px;
 margin-top: 100px;
  width: 180px;
    height: 45px;
 }
  #Vote_No
{
	horizontal-align: right;
  vertical-align: top;
 margin-right: 285px;
 margin-top: 100px;
  width: 180px;
    height: 45px;
 }
 
	#question
  {
    horizontal-align: right;
	vertical-align: top;
	margin-right: 75px;
	font-size: 20px;
    font-weight: bold;
	margin-top: 10px;
	text-transform: uppercase;
	color: #FFEA00;
 }
 #time_nb
  {
    horizontal-align: left;
	vertical-align: top;
	margin-left: 165px;
	font-size: 20px;
	margin-top: 30px;
	color: #FFEA00;
 }
 #timer
  {
    horizontal-align: left;
	vertical-align: top;
	margin-left: 190px;
	font-size: 20px;
	margin-top: 30px;
	color: #FFEA00;
 }
 

 