.option_panel
{
    width: 100%;
    height: 100%;
    overflow: clip;
}


#DPS_Main
{
  horizontal-align: right;
  vertical-align: top;
margin-right: 300px;
  margin-top: 53px;
  width: 400px;
    height: 100px;
 }
 
#damage_text
 {
	font-size: 20px;
	margin-left: 25px;
	margin-top: 27px;
    font-weight: bold;
	color: #FFFFFF;
}
#damage
 {
	font-size: 20px;
	horizontal-align: left;
	margin-left: 225px;
	margin-top: 28px;
    font-weight: bold;
	color: #FFFFFF;
}

#threatamount
 {
	horizontal-align: middle;
	vertical-align: middle;
	width: 100%;
}


#dps_text
 {
	font-size: 20px;
	margin-left: 25px;
	margin-top: 45px;
    font-weight: bold;
	color: #FFFFFF;
}
#DPS
 {
	font-size: 20px;
	horizontal-align: left;
	margin-left: 225px;
	margin-top: 46px;
    font-weight: bold;
	color: #FFFFFF;
}
#TD
 {
	font-size: 20px;
	horizontal-align: left;
	margin-left: 225px;
	margin-top: 65px;
    font-weight: bold;
	color: #FFFFFF;
}
#TD_TEXT
 {
	font-size: 20px;
	margin-left: 25px;
	margin-top: 64px;
    font-weight: bold;
	color: #FFFFFF;
}

#option_openclose_general
{
  horizontal-align: right;
  vertical-align: top;
	  margin-right: 180px;
  width: 220px;
    height: 40px;
 }

  #main_BG
{
  horizontal-align: right;
  vertical-align: top;
  width: 220px;
  height: 200px;
 }
 
 #casual_BG
{
  horizontal-align: right;
  vertical-align: top;
  width: 200px;
  height: 50px;
 }

#option_general
{
  horizontal-align: right;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 40px;
  width: 220px;
  height: 180px;
 }
 
 #option_mute_sound
 {
  horizontal-align: left;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 15px;
  width: 200px;
  height: 50px;
 }
  #option_unmute_sound
{
  horizontal-align: left;
  vertical-align: top;
  margin-top: 15px;
  margin-left: 10px;
  width: 200px;
  height: 50px;
 }
 
  #option_health_bar
{
  horizontal-align: left;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 65px;
  width: 200px;
  height: 50px;
 }
 
   #option_dps
{
  horizontal-align: left;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 115px;
  width: 200px;
  height: 50px;
 }
 
 
 
    #text_DPS
	{
	font-size: 15px;
	margin-left: 15px;
	margin-top: 15px;
    font-weight: bold;
	color: #FFFFFF;
 }
    #text_HB
	{
	font-size: 15px;
	margin-left: 15px;
	margin-top: 15px;
    font-weight: bold;
	color: #FFFFFF;
 }
    #text_sound_1
	{
	font-size: 15px;
	margin-left: 15px;
	margin-top: 15px;
    font-weight: bold;
	color: #FFFFFF;
 }
    #text_sound_2
{
	font-size: 15px;
	margin-left: 15px;
	margin-top: 15px;
    font-weight: bold;
	color: #FFFFFF;
 }

 .hp_bar_panel
{
    width: 100%;
    height: 100%;
    overflow: clip;
}

#hp_bar_parent_health
#hp_bar_parent_mana
#hp_bar_parent_shield
{
	horizontal-align: right;
    vertical-align: top;
	width: 561px;
    height: 157px;
}

#hp_bar_general
{
  horizontal-align: left;
  vertical-align: top;
 margin-left: 300px;
 margin-top: 50px;
  width: 561px;
    height: 157px;
 }
 
 
 #hp_bar_mana
 #hp_bar_health
{
    horizontal-align: right;
    vertical-align: top;
    width: 561px;
    height: 157px;
	clip: rect( 0%, 100%, 100%, 0% );
    z-index:5;

    background-position: 0% 0%;
 }
 
 #hp_bar_current
{
	margin-left: 200px;
	font-size: 18px;
	margin-top: 15px;
    font-weight: bold;
	color: #ABBFA0;
 }
  #hp_bar_slash
{
	margin-left: 300px;
	font-size: 18px;
	margin-top: 15px;
    font-weight: bold;
	color: #ABBFA0;
 }
  #hp_bar_total
{
	margin-left: 320px;
	font-size: 18px;
	margin-top: 15px;
    font-weight: bold;
	color: #ABBFA0;
 }
  #hp_bar_name
{
	margin-left: 180px;
	font-size: 19px;
    font-weight: bold;
	margin-top: 71px;
	vertical-align: center;
	color: #FFFFFF;
 }
 
#threat_bar_parent
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #272b30 ), color-stop( 0.6, #181a1e ), to( #181a1e ) );
	border: 1px solid #000000;
	width: 80px;
    height: 30px;
	margin-left: 166px;
	margin-top: 100px;
	z-index: -10;
}

#threat_bar_amount
{
	margin: 4px;
	horizontal-align: middle;
	vertical-align: middle;
	color: #FFFFFF;
 }


#QuestCenter
{
	vertical-align: top;
	horizontal-align: left;
	height: 120px;
	width: 50%;
	margin-top: 6%;
	margin-left: 50px;
}

.QuestsRoot
{
	height: 100%;
	width: 100%;
}
.QuestsContainer
{
	height: 100%;
	width: 100%;
	flow-children: down;
}

@keyframes 'FadeInText'
{
	0%
	{
		opacity: 0;
	}

	100%
	{
		opacity: 1;
	}
}

@keyframes 'FadeOutText'
{
	0%
	{
		opacity: 1;
	}

	100%
	{
		opacity: 0;
	}
}

#NotificationCenterText
{
	align: center center;
	font-family: TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-shadow: 2px 2px 1px 3.0 #333333b0;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 40px;
}

#QuestPrepText
{
	visibility: collapse;
}

#QuestRoundText
{
	visibility: collapse;
}

.QuestGenericText
{
	font-family: TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-shadow: 2px 2px 1px 3.0 #333333b0;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 20px;
}

.ShieldOverlay
{
	box-shadow: inset #c0c0c0ff 1px 1px 1px 10px;
}

.HealthContainerShieldLabel
{
	width: 100%;
	margin-top: 1px;
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	text-shadow: 1px 1px 0px 3.0 #000000CC;
	z-index: 4;
	font-family: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
}


.Hidden
{
	visibility: collapse;
}

.InfoTooltip {
    text-align: center;
    text-overflow: clip;
    font-weight: thin;
    font-size: 18px;
    color: #FFFFFF;
}

.tooltipContents
{
    min-width: 80px;
    max-width: 400px;
    max-height: 600px;
    flow-children: down;
}
.targetPanelRoot
{
	flow-children: down;
    width: 25%;
	height: 15%;
	vertical-align: top;
	margin-top: 3.5%;
	horizontal-align: center;
}

#bossNameContainer
{
	flow-children: down;
	vertical-align: top;
	horizontal-align: center;
	z-index: 1;
	margin-bottom: -12px;
}
#bossNameLabel
{
	align: center top;
	font-family: TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-shadow: 2px 2px 1px 3.0 #333333b0;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 28px;	
}
#targetPanelMain
{
	width: fill-parent-flow( 1.0 );
	height: fill-parent-flow( 1.0 );
	flow-children: down;
}
#threatButton
{
	horizontal-align: middle;
	flow-children: down;
	margin-top: -4px;
}
#threatLabel
{
	align: center center;
	font-family: Radiance;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 20px;
}
#hpBarRoot
{
	width: 95%;
	height: 18%;
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111FF ), to( #222222FF ) );
	border: 2px solid #003300;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

#mpBarRoot
{
	width: 95%;
	height: 18%;
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111 ), to( #222222 ) );
	border: 2px solid #003399;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

#hpBarCurrent
{
	width: fill-parent-flow( 1.0 );
	height: fill-parent-flow( 1.0 );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #53c653 ), to( #003300 ) );
	border: 2px solid #003300;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

#mpBarCurrent
{
	width: fill-parent-flow( 1.0 );
	height: fill-parent-flow( 1.0 );
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3494D8 ), to( #003399 ) );
	border: 2px solid #003399;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.barCurrentText
{
	align: center center;
	font-family: Radiance;
	text-shadow: 2px 2px 1px 0.0 #333333b0;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 20px;	
}
.verticalSeperator
{
	flow-children: down;
    width: 75%;
	height: 2px;
	vertical-align: top;
	margin-bottom: 20px;
	horizontal-align: center;
	background-color: #FFFFFFFF;
}

#eliteSpecsText
{
	align: center top;
	font-family: Radiance;
	text-shadow: 2px 2px 1px 3.0 #333333b0;
	text-transform: uppercase;
	color: #edcd3b;
	font-size: 24px;
	font-style: italic;
}
