.image-precache{
    background-image: url("file://{resources}/images/custom_game/event_cards/elysium_boss_aeon.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/elysium_boss_aether.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/elysium_boss_apotheosis.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/elysium_boss_asura.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/elysium_boss_broodmother.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/elysium_boss_genesis.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/elysium_boss_ifdat.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/elysium_combat_archangels.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/elysium_combat_drowsas.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/elysium_combat_fallen_angels.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/elysium_combat_reapers.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/elysium_combat_spiders.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/elysium_combat_warlock.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/elysium_elite_ammetot.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/elysium_random_event.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/generic_boss_golem.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/generic_boss_scarab.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/generic_combat_leshrac.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/generic_combat_ogres.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/generic_combat_slarks.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_boss_axe.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_boss_bearmaster.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_boss_dragon.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_boss_drowsa.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_boss_green_dragon.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_boss_greymane.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_boss_troll_warlord.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_combat_bearboys.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_combat_centaurs.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_combat_roborage.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_combat_robots.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_combat_roshan.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_combat_slardar.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_combat_small_dragons.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_combat_techies.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_combat_trees.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_combat_wolves.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_elite_valgraduth.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/grove_random_event.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/sepulcher_boss_prophet.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/sepulcher_boss_reaper.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/sepulcher_boss_undying.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/sepulcher_boss_vile_archmage.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/sepulcher_boss_wraith_king.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/sepulcher_combat_bone_boys.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/sepulcher_combat_everything.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/sepulcher_combat_flesh_behemoths.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/sepulcher_combat_lifestealer.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/sepulcher_combat_phantoms.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/sepulcher_combat_vhouls.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/sepulcher_combat_zombies.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/sepulcher_elite_arthromos.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/sepulcher_random_event.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/solitude_boss_doom.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/solitude_boss_evil_core.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/solitude_boss_twin_demons.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/solitude_boss_warlock.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/solitude_combat_angry_wraith.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/solitude_combat_commander.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/solitude_combat_corrupt_drow.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/solitude_combat_golem.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/solitude_combat_green_dragon.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/solitude_combat_hellbears.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/solitude_combat_prophets.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/solitude_combat_satyrs.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/solitude_combat_sloth_demon.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/solitude_elite_durva.png");
    background-image: url("file://{resources}/images/custom_game/event_cards/solitude_random_event.png");
	
    background-image: url("file://{resources}/images/custom_game/events/aghanims_room_icon_png.png");
    background-image: url("file://{resources}/images/custom_game/events/bonus_room_icon_png.png");
    background-image: url("file://{resources}/images/custom_game/events/boss_room_icon_png.png");
    background-image: url("file://{resources}/images/custom_game/events/empty_room_icon_png.png");
    background-image: url("file://{resources}/images/custom_game/events/encounter_room_elite_icon_png.png");
    background-image: url("file://{resources}/images/custom_game/events/encounter_room_icon_png.png");
    background-image: url("file://{resources}/images/custom_game/events/reward_type_lives_icon_png.png");
    background-image: url("file://{resources}/images/custom_game/events/trap_room_icon_png.png");
	
    background-image: url("file://{resources}/images/custom_game/icons/bossBorder.png");
    background-image: url("file://{resources}/images/custom_game/icons/eliteBorder.png");
    background-image: url("file://{resources}/images/custom_game/icons/minionBorder.png");
    background-image: url("file://{resources}/images/custom_game/icons/celestialTypeIcon.png");
    background-image: url("file://{resources}/images/custom_game/icons/undeadTypeIcon.png");
    background-image: url("file://{resources}/images/custom_game/icons/demonicTypeIcon.png");
    background-image: url("file://{resources}/images/custom_game/icons/wildTypeIcon.png");
    background-image: url("file://{resources}/images/custom_game/icons/crownSymbol.png");
    background-image: url("file://{resources}/images/custom_game/icons/crownSymbolUnactive.png");
    background-image: url("file://{resources}/images/custom_game/icons/leveledTalentTierIcon.png");
    background-image: url("file://{resources}/images/custom_game/icons/possibleTalentTierIcon.png");
    background-image: url("file://{resources}/images/custom_game/icons/unleveledTalentTierIcon.png");
    background-image: url("file://{resources}/images/custom_game/icons/tournament_pip_glow_psd.png");
	
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_AGILITY_1.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_AGILITY_2.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_AGILITY_3.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_ALL_STATS_1.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_ALL_STATS_2.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_ALL_STATS_3.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_AREA_DAMAGE_1.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_AREA_DAMAGE_2.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_AREA_DAMAGE_3.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_ARMOR_1.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_ARMOR_2.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_ARMOR_3.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_MAGIC_RESIST_1.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_MAGIC_RESIST_2.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_MAGIC_RESIST_3.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_HEALTH_1.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_HEALTH_2.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_HEALTH_3.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_MANA_1.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_MANA_2.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_MANA_3.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_MANA_REGEN_1.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_MANA_REGEN_2.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_MANA_REGEN_3.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_ATTACK_DAMAGE_1.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_ATTACK_DAMAGE_2.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_ATTACK_DAMAGE_3.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_SPELL_AMP_1.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_SPELL_AMP_2.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_SPELL_AMP_3.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_STATUS_AMP_1.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_STATUS_AMP_2.png");
    background-image: url("file://{resources}/images/custom_game/icons/MASTERY_STATUS_AMP_3.png");
	
    background-image: url("file://{resources}/images/custom_game/relics/relic_rarity_common.png");
    background-image: url("file://{resources}/images/custom_game/relics/relic_rarity_event.png");
    background-image: url("file://{resources}/images/custom_game/relics/relic_rarity_legendary.png");
    background-image: url("file://{resources}/images/custom_game/relics/relic_rarity_rare.png");
    background-image: url("file://{resources}/images/custom_game/relics/relic_rarity_uncommon.png");
}