.IsHidden
{
	visibility: collapse;
}

.ButtonSelected
{
	saturation: 0.4;
}

.ButtonHover
{
	box-shadow: inset #888888b0 2px 2px 2px 2px;
}

.QuestsRoot
{
	height: 100%;
	width: 100%;
	z-index: -50;
}
 
.QuestsContainerRoot
{
	margin-left: -5px;
	margin-top: 125px;
	horizontal-align: left;
	min-height: 80px;
	flow-children: right;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #25282a88 ), color-stop( .6, #25282acc), color-stop( .8, #25282a88), to( #00000022 ) );
}

.QuestsContainer
{
	flow-children: down;
	margin-left: 35px;
	
	transition-timing-function: ease-in-out;
	transition-property: transform;
	transition-duration: 0.3s;
}

.CloseImage
{
	vertical-align: center;
	margin-top: 30px;
	horizontal-align: right;
	width: 35px;
	height: 35px;
	wash-color: #FFFFFF;
}

#QuestPrepText
{
	visibility: collapse;
}

#QuestRoundText
{
	visibility: collapse;
}

.QuestGenericText
{
	font-family: Radiance,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-shadow: 2px 2px 1px 3.0 #333333b0;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 20px;
	vertical-align: top;
}

#QuestsEventHolder
{
	height: 40%;
	width: 60%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #121218FF ), color-stop( .2, #25282aFF), color-stop( .8, #25282aFF), to( #121218FF ) );
	background-image: url("s2r://panorama/images/hud/reborn/ability_bg_psd.vtex");
	background-repeat: no-repeat;
	opacity: 0.9;
	background-size: 100% 100%;
	visibility: collapse;
	z-index: 5;
	vertical-align: center;
	horizontal-align: center;
	margin-top: -50px;
	padding: 20px;
	flow-children: down;
	
}

#QuestsEventDescription
{
	width: 85%;
	vertical-align: top;
	margin-top: 10%;
	horizontal-align: center;
}

#QuestsEventDescriptionLabel
{
	
	font-family: Radiance,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-shadow: 2px 2px 1px 3.0 #333333b0;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 24px;
}

#QuestsEventChoices
{
	flow-children: down;
	vertical-align: bottom;
	width: 100%;
	margin-bottom: 10px;
}

.QuestsEventChoice
{
	margin-bottom: 12px;
	horizontal-align: center;
	padding: 4px;
	background-image: url("s2r://panorama/images/hud/reborn/shop_launcher_button_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 40px;	
	width: 60%;
	z-index: 5;
}

.QuestsEventChoiceText
{
	font-family: Radiance,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-shadow: 2px 2px 1px 3.0 #333333b0;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 20px;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
}

.Warning
{
	color: #FF0000;
}

#QuestRewardsHolder
{
	height: 30%;
	width: 50%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #121218FF ), color-stop( .2, #25282aFF), color-stop( .8, #25282aFF), to( #121218FF ) );
	background-image: url("s2r://panorama/images/hud/reborn/ability_bg_psd.vtex");
	background-repeat: no-repeat;
	opacity: 0.9;
	background-size: 100% 100%;
	visibility: collapse;
	z-index: 5;
	vertical-align: center;
	horizontal-align: center;
	margin-top: -50px;
	
	flow-children: down;
}

#QuestsRewardDescription
{
	width: 80%;
	vertical-align: top;
	margin-top: 10%;
	horizontal-align: center;
}

#QuestsRewardDescriptionLabel
{
	font-family: Radiance,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-shadow: 2px 2px 1px 3.0 #333333b0;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 24px;
}

#QuestRewardConfirmButton
{
	margin-bottom: 12px;
	horizontal-align: center;
	vertical-align: bottom;
	background-image: url("s2r://panorama/images/hud/reborn/shop_launcher_button_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 40px;	
	width: 60%;
	z-index: 5;
}

#QuestsPrepVoteHolder
{
	height: 180px;
	width: 360px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #121218FF ), color-stop( .2, #25282aFF), color-stop( .8, #25282aFF), to( #121218FF ) );
	background-image: url("s2r://panorama/images/hud/reborn/ability_bg_psd.vtex");
	background-repeat: no-repeat;
	opacity: 0.9;
	background-size: 100% 100%;
	visibility: collapse;
	z-index: 5;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 200px;
	
	flow-children: down;
}

#QuestsPrepVoteCountHolder
{
	flow-children: left;
	horizontal-align: center;
}

.QuestsPrepVoteText
{
	font-family: Radiance,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-shadow: 2px 2px 1px 3.0 #333333b0;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 20px;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

#QuestsPrepVoteDescriptionLabel
{
	vertical-align: top;
	horizontal-align: center;
	
	font-family: Radiance,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-shadow: 2px 2px 1px 3.0 #333333b0;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 28px;
	padding: 15px;
}


#QuestPrepVoteConfirmButton
{
	margin-bottom: 12px;
	horizontal-align: center;
	vertical-align: bottom;
	background-image: url("s2r://panorama/images/hud/reborn/shop_launcher_button_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 40px;	
	width: 60%;
	z-index: 5;
}


#QuestsAscensionVoteHolder
{
	height: 180px;
	width: 360px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #121218FF ), color-stop( .2, #25282aFF), color-stop( .8, #25282aFF), to( #121218FF ) );
	background-image: url("s2r://panorama/images/hud/reborn/ability_bg_psd.vtex");
	background-repeat: no-repeat;
	opacity: 0.9;
	background-size: 100% 100%;
	visibility: collapse ;
	z-index: 5;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 200px;
	
	flow-children: down;
}

#QuestsAscensionVoteCountHolder
{
	flow-children: left;
	horizontal-align: center;
}

.QuestsAscensionVoteText
{
	font-family: Radiance,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-shadow: 2px 2px 1px 3.0 #333333b0;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 20px;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

#QuestsAscensionVoteDescriptionLabel
{
	vertical-align: top;
	horizontal-align: center;
	
	font-family: Radiance,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-shadow: 2px 2px 1px 3.0 #333333b0;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 28px;
	padding: 15px;
}

#QuestsAscensionVoteButtonHolder
{
	margin-bottom: 12px;
	horizontal-align: center;
	vertical-align: bottom;
	
	flow-children: right;
}

.QuestAscensionVoteButton
{
	
	background-image: url("s2r://panorama/images/hud/reborn/shop_launcher_button_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 40px;	
	width: 80px;
	z-index: 5;
	margin: 5px;
}

@keyframes 'FadeInText'
{
	0%
	{
		opacity: 0;
	}

	100%
	{
		opacity: 1;
	}
}

@keyframes 'FadeOutText'
{
	0%
	{
		opacity: 1;
	}

	100%
	{
		opacity: 0;
	}
}