.root
{
	height: 100%;
	width: 100%;
}


#RelicRoot
{
	width: 500px;
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom: 19%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c2027 ), to( #010101ee ) );
	flow-children: down;
}
.RelicChoiceRoot
{
	margin-top: 20px;
	padding-top: 3px;
	padding: 10px;
	flow-children: up;
	max-height: 375px;
}

.RelicRarityIcon
{
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	vertical-align: center;
	horizontal-align: center;
	margin-left: 6px;
}

.RelicButtonContainer
{
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: left;
}

.SelectionButton
{
	width: 128px;
	height: 40px;
	margin-bottom: 15px;
	margin-left: 1px;
	margin-right: 1px;
	vertical-align: center;
	horizontal-align: center;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c2027 ), to( #010101FF ) );
	border: 1px solid #010101;
}

.RelicChoiceContainer
{
	flow-children: right;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c2027 ), to( #010101FF ) );
	border: 1px solid #010101;
	margin-bottom: 3px;
}

.HorizontalSeperator 
{
	width: 90%;
	height: 20px;
	background-image: url("s2r://panorama/images/textures/fantasy_hbar_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	horizontal-align: middle;
	margin: 12px;
}

.RelicTypeLabel
{
	color: #e1e1e1;
	font-size: 36px;
	line-height: 15px;
	text-shadow: 1px 1px 2px 3.0 #00000077;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
	z-index: 5;
	
}

#GenericRelicType
{
	color: #FFFFFF;
}

#CursedRelicType
{
	color: #d80f0f;
}

#UniqueRelicType
{
	color: #ffd34a;
}

.RelicNameLabel
{
	color: #e1e1e1;
	font-size: 20px;
	line-height: 15px;
	text-shadow: 1px 1px 2px 3.0 #00000077;
	text-align: left;
	margin-left: 30px;
	vertical-align: center;
	horizontal-align: center;
	z-index: 5;
	width: fill-parent-flow(0.3);
	
	padding-top: 5px;
	padding-bottom: 5px;
}

.RelicDescriptionContainer
{
	height: fill-parent-flow(1.0);
	horizontal-align: center;
}

.RelicDescriptionLabel
{
	color: #e1e1e1;
	font-size: 20px;
	line-height: 15px;
	text-shadow: 1px 1px 2px 3.0 #00000077;
	text-align: center;
	height: 100%;
	z-index: 5;
	padding-bottom: 20px;
}

.SelectButton
{
	width: 78px;
	height: 40px;
	margin-bottom: 15px;
	vertical-align: bottom;
	horizontal-align: center;
	
	background-image: url("s2r://panorama/images/compendium/fall2015_button_2_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

.SelectButtonLabel
{
	color: #e1e1e1;
	font-size: 20px;
	line-height: 15px;
	text-shadow: 1px 1px 2px 3.0 #00000077;
	text-align: center;
	margin-top: 5px;
	vertical-align: center;
	horizontal-align: center;
	z-index: 5;
	height: fill-parent-flow( 1.0 );
}

.SelectionButtonLabel
{
	color: #e1e1e1;
	font-size: 20px;
	line-height: 15px;
	text-shadow: 1px 1px 2px 3.0 #00000077;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
	z-index: 5;
}

#RelicInventoryRoot
{
	height: 100%;
	vertical-align: bottom;
	horizontal-align: right;
}

.RelicInventoryButtonLabel
{
	color: #e1e1e1;
	font-size: 20px;
	line-height: 15px;
	text-shadow: 1px 1px 2px 3.0 #00000077;
	text-align: center;
	vertical-align: center;
	
	horizontal-align: center;
	z-index: 5;
}

#RelicInventoryPanel
{
	width: 300px;
	max-height: 850px;
	min-height: 150px;
	padding-top: 10px;
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom: 56px;
	padding-bottom: 20px;
	flow-children: down;
	overflow: squish scroll;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c2027 ), to( #010101ff ) );
	
	margin-bottom: 105px;
}

#RelicDropNotification
{
	width: 32px;
	height: 32px;
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom: 8px;
	margin-right: 24px;
	background-color: #CC0000;
	border: 1px solid #AA0000;
	border-radius: 50% / 50%;
	z-index: 5;
	visibility: collapse;
	
	animation-name: RelicDroppedPulse;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

@keyframes 'RelicDroppedPulse'
{
	0%
	{
		box-shadow: -1px -1px 2px 2px black;
		border: 1px solid #AA0000;
    }

    50% 
	{
        box-shadow: -3px -3px 6px 6px #AA0000;
		border: 3px solid #AA0000;
    }

    100%
	{
		box-shadow: -1px -1px 2px 2px black;
		border: 1px solid #AA0000;
    }
}

#RelicDropLabel
{
	color: #ffffff;
	font-size: 20px;
	text-shadow: 1px 1px 2px 3.0 #00000077;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
	z-index: 5;
}

#RelicInventoryNotifyIdiots
{
	width: 100px;
	height: 160px;
	vertical-align: bottom;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/compendium/downarrowspinner_psd.vtex");
	hue-rotation: 180deg;
	margin-bottom: 50px;
	margin-right: -10px;
	z-index: 10;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	visibility: collapse;
	
	animation-name: NotifyIdiots;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes 'NotifyIdiots'
{
    0%
    {
        transform: translateY(10px);
    }
    50%
    {
        transform: translateY(-10px);
    }
    100%
    {
        transform: translateY(10px);
    }
}

.RelicInventoryButton
{
	width: 100px;
	height: 36px;
	background-image: url("s2r://panorama/images/hud/hudv2_shopbutton_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: #000000aa 1px 1px 2px 2px;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 12px;
	margin-left: 12px;
	z-index: -1;
}

.RelicInventoryRarityIcon
{
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	vertical-align: center;
	horizontal-align: center;
	margin-left: 6px;
}

.RelicInventoryContainer
{
	horizontal-align: center;
	padding: 4px;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c2027 ), to( #010101ee ) );
	width: 290px;
	z-index: 5;
	flow-children: right;
}

.RelicNameText
{
	color: #e1e1e1;
	font-size: 16px;
	line-height: 15px;
	text-shadow: 1px 1px 2px 3.0 #00000077;
	text-align: left;
	vertical-align: center;
	horizontal-align: left;
	margin-left: 15px;
	z-index: 5;
}

.RelicButtonSelected
{
	saturation: 0.4;
}

.ButtonHover
{
	brightness: 2.0;
}

.IsHidden
{
	visibility: collapse;
}