.RelicRoot
{
	vertical-align: center;
	horizontal-align: center;	
	width: 50%;
	
	background-image: url("s2r://panorama/images/textures/popup_rock_bg_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	flow-children: down;
}
.RelicChoiceRoot
{
	margin-top: 20px;
	padding-top: 3px;
	padding: 10px;
	max-height: 400px;
	flow-children: right;
}

.RelicButtonContainer
{
	width: 100%;
}

#SkipButton
{
	width: 128px;
	height: 59px;
	margin-bottom: 15px;
	vertical-align: center;
	horizontal-align: center;
	
	background-image: url("s2r://panorama/images/compendium/fall2015_button_2_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

.RelicChoiceContainer
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
}

.VerticalSeperator 
{
	width: 2px;
	height: 90%;
	horizontal-align: middle;
	background-color: #51515155;
	margin: 12px;
}

.HorizontalSeperator 
{
	width: 70%;
	height: 2px;
	horizontal-align: middle;
	background-color: #51515155;
	margin: 12px;
}

.RelicTypeLabel
{
	color: #e1e1e1;
	font-size: 36px;
	line-height: 15px;
	text-shadow: 1px 1px 2px 3.0 #00000077;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
	z-index: 5;
}

#GenericRelicType
{
	color: #FFFFFF;
}

#CursedRelicType
{
	color: #d80f0f;
}

#UniqueRelicType
{
	color: #ffd34a;
}

.RelicNameLabel
{
	color: #e1e1e1;
	font-size: 24px;
	line-height: 15px;
	text-shadow: 1px 1px 2px 3.0 #00000077;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
	z-index: 5;
}

.RelicDescriptionLabel
{
	color: #e1e1e1;
	font-size: 20px;
	line-height: 15px;
	text-shadow: 1px 1px 2px 3.0 #00000077;
	text-align: center;
	margin-top: 15px;
	vertical-align: center;
	horizontal-align: center;
	z-index: 5;
	height: fill-parent-flow( 1.0 );
}

.SelectButton
{
	width: 78px;
	height: 40px;
	margin-bottom: 15px;
	vertical-align: center;
	horizontal-align: center;
	
	background-image: url("s2r://panorama/images/compendium/fall2015_button_2_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

.SelectButtonLabel
{
	color: #e1e1e1;
	font-size: 20px;
	line-height: 15px;
	text-shadow: 1px 1px 2px 3.0 #00000077;
	text-align: center;
	margin-top: 5px;
	vertical-align: center;
	horizontal-align: center;
	z-index: 5;
	height: fill-parent-flow( 1.0 );
}