.RoundOptionsPanel
{
    width: 100%;
    height: 100%;
    overflow: clip;
}

#confirmation 
{
    horizontal-align: center;
	vertical-align: top;
	font-size: 20px;
    font-weight: bold;
	margin-top: 80px;
	color: #FFEA00;
}

#noheader
{
margin-top:40px;
margin-left: 113px;
horizontal-align:left;
color: #FFEA00;
font-size: 20px;
font-weight: bold;
}

#yesheader
{
margin-top:40px;
margin-right: 109px;
horizontal-align:right;
color: #FFEA00;
font-size: 20px;
font-weight: bold;
}

#noresults
{
margin-top:60px;
margin-left: 100px;
horizontal-align:left;
}

#yesresults
{
margin-top:60px;
margin-right: 100px;
horizontal-align:right;
}

#RoundOptions
{
  horizontal-align: left;
  margin-left:10px;
  margin-top:200px;
  vertical-align: top;
  width: 500px;
  height: 150px;
 }
 #BG_Image
{
  width: 500px;
    height: 300px;
 }

 #Vote_Yes
{
	horizontal-align: center;
  vertical-align: top;
 margin-top: 100px;
  width: 180px;
    height: 45px;
 }
 
#question
  {
    horizontal-align: right;
	vertical-align: top;
	margin-right: 75px;
	font-size: 20px;
    font-weight: bold;
	margin-top: 10px;
	text-transform: uppercase;
	color: #FFEA00;
 } 