.talentRoot
{
	padding-top: 3px;
	padding-bottom: 50px;
	z-index: -500;
	z-index: -500;
	margin-bottom: 15%;
	margin-left: 30%;
	vertical-align: bottom;
}

.ShopItemsTab
{
	opacity: 0.5;
	width: 100px;
	height: 100%;
	margin-left: 6px;
	background-color: #1a1a1a;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.GridTabsLabel
{
	margin-left: 2px;
	color: white;
	horizontal-align: center;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: bold;
	vertical-align: center;
	text-transform: uppercase;
	text-align: center;
}

.Highlighted
{
	brightness: 2.0;
}

.Clickthrough
{
	opacity: 0.5;
}

.ShopWrapper
{
	flow-children: down;
	height: 100%;
	width: 100%;
	background-color: #FF0000;
}

.StatUpgradeContainer
{
	height: 36px;
	width: 100%;
	margin: 2px;
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c2027 ), to( #010101 ) );
}

.StatUpgradeLabel
{
	margin-left: 20px;
	color: white;
	horizontal-align: left;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: bold;
	vertical-align: center;
	text-transform: uppercase;
	text-align: left;
}

.GoldValueContainer
{
	flow-children: left;
	horizontal-align: right;
	vertical-align: center;
	margin-right: 5px;
}

.RuneSlotImage
{
	background-size: 137.5% 100%;
	background-position: center;
	background-repeat: no-repeat no-repeat;
	border-radius: 50% / 50%;
	border: 2px solid #111111FF;
	width: 32px;
	height: 32px;
}

.RuneSlotImageIcon
{
	background-size: 137.5% 100%;
	background-position: center;
	background-repeat: no-repeat no-repeat;
	background-image: url("s2r://panorama/images/items/emptyitembg_png.vtex");
	border-radius: 50% / 50%;
	border: 2px solid #111111FF;
	width: fill-parent-flow(1);
	max-width: 40px;
	height: width-percentage(100%);
	vertical-align: center;
	horizontal-align: center;
}

.RuneSlotBlack{
	background-image: url("s2r://panorama/images/items/emptyitembg_png.vtex");
	height: 100%;
	width: 100%;
	z-index: -999;
}
.RuneSlotsContainer
{
	flow-children: down;
	margin-left: 2px;
	margin-top: -10px;
}

.RuneSlotContainer
{
	flow-children: right;
	opacity: 1;
}

.RuneSlotContainerIcon
{
	flow-children: right;
	height: fill-parent-flow(1);
	width: 100%;
	z-index: 9999;
}

.ValueLabel
{
	margin-left: 5px;
	color: white;
	horizontal-align: left;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: bold;
	vertical-align: center;
	text-transform: uppercase;
	text-align: left;
}